.formBlock {
    position: relative;
    top: 10%;
    left: calc(50% - 40vw);

    width: 50vw;
    height: 100%;

    display: block;
    font-family: "Orelega One";
}

.formRow {
    position: relative;

    height: 100px;

    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.formSendButton:hover {
    cursor: pointer;
}