.textBlock {
    position: relative;
    top: 100px;

    width: 100%;
    min-width: 900px;
    background-color: rgba(233,194,122,0.79);
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

h1 {
    font-family: 'Orelega One';
    font-weight: bold;
}

p {
    font-family: 'Orelega One';
    font-weight: normal;
}

button {
    font-family: 'Orelega One';
    font-size: 26px;
    border-radius: 15px;
    border-color: #f5d3a6;
    background-color: whitesmoke;
    height: 70px;
    width: 380px;
}