.textBlock {
    position: relative;
    top: 100px;

    width: 100%;
    min-width: 900px;
    background: url("../../public/texture-2136831.jpg");
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: white;
}

h1 {
    font-family: 'Orelega One';
    font-weight: bold;
}

p {
    font-family: 'Orelega One';
    font-weight: normal;
}

button {
    font-family: 'Orelega One';
    font-size: 26px;
    border-radius: 15px;
    border-color: darkorange;
    background-color: whitesmoke;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    height: 70px;
    width: 380px;
}