.menu {
    position: fixed;
    top: 100px;

    z-index: 81;
    height: calc(100% - 100px);
    width: 100%;
    background-color: dimgray;
    backdrop-filter: blur(5px);
    opacity: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.menuP {
    position: relative;

    color: whitesmoke;
    font-family: 'Orelega One';
    font-size: 45px;
    cursor: pointer;
}