.infoBlock {
    position: relative;

    width: 80%;
    min-width: 540px;
    height: 240px;
    backdrop-filter: blur(1px) brightness(1.1);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pStyle {
    position: relative;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    color: #191921;
}

@media (max-width: 639px) {
    .pStyle {
        font-size: 18px;
    }
}

@media (min-width: 640px) {
    .pStyle {
        font-size: 24px;
    }
}

hr {
    height: 1px;
    width: 400px;

    background-color: whitesmoke;
    opacity: 0.33;
}